.img-fluid {
  max-width: 100%;
  height: auto; }

.subheader {
  background-color: #C4BEBE;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: end; }

.headerbg {
  background-color: #213148;
  height: 240px;
  width: 100%; }

body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

.navbar {
  max-width: 1140px;
  width: 100%;
  min-width: 100%; }

.navbar-nav {
  width: 100%; }

nav ul {
  font-family: Pangolin;
  display: flex;
  font-size: 18pt;
  list-style: none;
  color: #FFFAFA; }

.navbar-collapse ul li {
  width: 20%;
  text-align: center;
  box-shadow: inset 0px 6px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px; }

nav ul li:first-child {
  background-color: #7EAB0A; }

nav li:nth-child(2) {
  background-color: #FA9393; }

nav li:nth-child(3) {
  background-color: #7A7979; }

nav li:nth-child(4) {
  background-color: #404C5C; }

nav ul li:last-child {
  background-color: #B0B229; }

.navbar-collapse ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15% 23% 15% 23%; }
  .navbar-collapse ul li a:hover {
    text-shadow: 0px 2.5px 5px #000;
    color: #E5E5E5;
    box-shadow: 0px 5px 15px #000;
    border-radius: 0px 0px 10px 10px; }

img .logo {
  height: 174px;
  width: auto;
  padding-top: 5px; }

.navbar-collapse ul li a.pa {
  padding-top: 21%;
  padding-bottom: 21%; }

.bgitem {
  background: url(../img/bgroze.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 12em; }

.vhod {
  background: url(../svg/registration.svg); }

.cart {
  background: url(../svg/online-store-shopping-cart.svg); }

.location {
  background: url(../svg/comerce-location.svg); }

.phone {
  background: url(../svg/mobile.svg); }

.dos {
  background: url(../svg/express-delivery.svg);
  background-repeat: no-repeat;
  background-size: contain; }

.buy {
  background: url(../svg/chas-payment.svg);
  background-repeat: no-repeat;
  background-size: contain; }

.icon {
  display: flex;
  width: 20%;
  background-repeat: no-repeat;
  background-size: contain; }

.i {
  width: 55px;
  background-repeat: no-repeat;
  background-size: contain; }

.hcontent {
  color: #fff;
  font-size: 18pt; }

.subheader p {
  padding: 0.4em; }

.subheader .col-md:first-child {
  max-height: 43px;
  display: flex; }

.subheader .col-md:last-child {
  max-height: 43px;
  display: flex;
  justify-content: flex-end; }

.hcontent .col-md-5 {
  max-height: 100px;
  align-self: center; }

.subhead {
  font-size: 1.5em;
  text-align: center;
  color: #213148; }

.clr {
  color: #213148; }

.phead {
  font-size: 1.25em;
  color: #FCF7F7;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  width: 100%;
  padding-top: 2.5%; }

.col-md {
  text-align: center; }

.fl {
  display: flex; }

.mh {
  min-height: 58px; }

.flend {
  align-self: flex-end; }

.flsta {
  align-self: flex-start; }

.pl {
  padding-right: 10%; }

.pr {
  padding-left: 10%; }

.telph {
  margin-top: 0;
  margin-left: 0;
  justify-content: flex-end; }

.loc {
  margin-left: 0;
  padding-bottom: 0;
  width: 120%; }

.ptd {
  padding-top: 9%; }

.bg {
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto; }

.bg2 {
  background: url(../img/flowers_menu_90.png) 100% center no-repeat;
  z-index: 0;
  width: 30%;
  height: 780px;
  position: absolute;
  right: 0px;
  top: 100px; }

.ib {
  display: inline-flex;
  padding-top: 4%;
  justify-content: flex-end; }

.w-25 {
  display: inline-block;
  width: 25%;
  margin-left: 10%; }

.w-75 {
  display: inline-block;
  width: 75%;
  margin-top: 10px; }

.ww-75 {
  display: inline-block;
  width: 75%;
  margin-left: 1em;
  margin-top: 10px;
  margin-bottom: 10px; }

.ww-100 {
  display: inline-flex;
  width: 100%;
  margin-top: 10px; }

.w-100 {
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
  justify-content: flex-end; }

.use {
  background-image: url(../img/showme.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 76px; }

.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.pinner {
  display: inline-flex;
  justify-content: center;
  font-family: Pangolin;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.75em;
  color: #210929;
  text-shadow: -0.5px -0.5px 0 #370D5E, 0.5px -0.5px 0 #370D5E, -0.5px 0.5px 0 #370D5E, 0.5px 0.5px 0 #370D5E; }

.vam {
  display: flex;
  justify-content: center;
  align-items: center; }

.interest {
  width: 100%;
  height: auto; }

.pt-5 {
  padding-top: 3em; }

.pt-2 {
  padding-top: 1em; }

.footer {
  background-color: #213148;
  height: 252px;
  font-family: Roboto;
  font-size: 1.875em;
  color: #fff; }
  .footer .container-fluid {
    padding-top: 10px; }

.airful {
  font-family: Airfool;
  color: #213148;
  font-size: 2.5em;
  text-shadow: 0px 10px 15px #524D4D;
  text-align: center; }

.card-title {
  font-family: Pangolin;
  color: #213148;
  font-weight: 800;
  text-shadow: -0.5px -0.5px 0 #192B45, 0.5px -0.5px 0 #192B45, -0.5px 0.5px 0 #192B45, 0.5px 0.5px 0 #192B45;
  font-size: 2em; }

.flma {
  display: flex;
  margin: auto;
  align-self: center; }

.bs {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75); }

.sa {
  justify-content: space-around; }

.btn-more {
  text-decoration: none;
  background: -moz-linear-gradient(#213148, #6869e6);
  background: -webkit-gradient(linear, 0 0, 0 90%, from(#213148), to(#6869e6));
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  box-shadow: 0px 10px 0px #213148, 0px 10px 10px #000000;
  font-size: 2em;
  border-bottom: 1px solid #213148;
  display: inline-flex; }
  .btn-more:hover, .btn-more:active {
    background: -moz-linear-gradient(#6869e6, #213148);
    background: -webkit-gradient(linear, 0 0, 0 90%, from(#6869e6), to(#213148));
    box-shadow: 0px 5px 0px #6869e6, 0px 5px 5px #000000;
    border-bottom: 1px solid #6869e6; }

.btn-p {
  padding: 0.5em 2em 0.5em 2em;
  font-family: Roboto;
  color: #fff; }

.btn-pp {
  padding: 0.5em 2em 0.5em 2em;
  font-family: Roboto;
  color: #fff; }

.btn-end-img {
  margin-top: 5%;
  background: url(../img/btn-end.png) no-repeat center center;
  height: auto;
  width: 100px; }

.mb-10 {
  margin-bottom: 5rem; }

.mb-12 {
  margin-bottom: 7.5rem; }

.inst {
  background: url(../svg/in-icon.svg) no-repeat center center;
  margin-left: 3em; }

.pin {
  background: url(../svg/pin-icon.svg) no-repeat center center; }

.vk {
  background: url(../svg/vk-icon.svg) no-repeat center center; }

.ok {
  background: url(../svg/ok-icon.svg) no-repeat center center; }

.tw {
  background: url(../svg/tw-icon.svg) no-repeat center center; }

.fb {
  background: url(../svg/fb-icon.svg) no-repeat center center; }

.pd {
  display: flex;
  text-align: center; }

.ic {
  width: 1.5em;
  height: 45px;
  margin-left: 1em;
  background-repeat: no-repeat;
  background-size: contain; }

/*# sourceMappingURL=main.css.map */
